<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBlindings from "./components/AttributeBlindings.vue";
import ConditionalsAndLoops from "./components/ConditionalsAndLoops.vue";
import FormBlindings from "./components/FormBlindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <SimpleComponent />
  <br />
  <FormBlindings /><br />
  <ConditionalsAndLoops />
  <AttributeBlindings />
  <HandlingUserInput />
  <CalComponent />
  <HelloWorldExample />
</template>

<style scoped></style>
